<form class="form-horizontal col-sm-6">
  <div class="well">

    <!-- Direct Link -->
    <legend>
      <a ng-link="['CompetitionItem', { id: $ctrl.appItem.id }]"
         ng-bind="$ctrl.getTitle()">
      </a>
    </legend>

    <!-- Name -->
    <div class="form-group">
      <label for="name"
             class="col-sm-3 control-label">
        Name:
      </label>
      <div class="col-sm-8">
        <input disabled id="name"
               class="form-control"
               ng-model="$ctrl.appItem.name">
      </div>
    </div>

    <!-- Owner Email -->
    <div class="form-group">
      <label for="owner_email"
             class="col-sm-3 control-label">
        Owner Email:
      </label>

      <div class="col-sm-8">
        <input disabled id="owner_email"
               class="form-control"
               ng-model="$ctrl.appItem.owner_email">
      </div>
    </div>

    <!-- Requires Entry Name -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
          <label>
            <input disabled  id="requires_entry_name" type="checkbox"
                   ng-model="$ctrl.appItem.requires_entry_name">
            Requires Entry Name
          </label>
        </div>
      </div>
    </div>

    <!-- Join! -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <h3>
          <a ng-link="['CompetitionItemWithNewEntry', { id: $ctrl.appItem.id }]">
            Join!
          </a>
        </h3>
      </div>
    </div>

    <!-- Process Indicator -->
    <app-process
      app-process-status="$ctrl.processCtrl.status"
      app-process-errors="$ctrl.processCtrl.errors"
      app-process-state="$ctrl.processCtrl.state">
    </app-process>
  </div>
</form>
