<div class="alert alert-danger" role="alert"
     ng-if="$ctrl.appProcessState == 'PROBLEM'">
  <!-- appProcessStatus -->
  <strong ng-bind="$ctrl.appProcessStatus"></strong>
  <!-- appProcessErrors -->
  <p ng-if="$ctrl.appProcessErrors.length === 1"
     ng-bind="$ctrl.appProcessErrors[0]">
  </p>
  <ul ng-if="$ctrl.appProcessErrors.length > 1">
    <li ng-repeat="error in $ctrl.appProcessErrors">
      <p ng-bind="error"></p>
    </li>
  </ul>
</div>

<div class="alert alert-info" role="alert"
     ng-if="$ctrl.appProcessState == 'PROCESS'">
  <!-- appProcessStatus -->
  <strong ng-bind="$ctrl.appProcessStatus"></strong>
</div>

<div class="alert alert-success" role="alert"
     ng-if="$ctrl.appProcessState == 'SUCCESS'">
  <!-- appProcessStatus -->
  <strong ng-bind="$ctrl.appProcessStatus"></strong>
</div>
